@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400&family=Charis+SIL&family=Cormorant+SC:wght@600&family=Hahmlet:wght@600&family=Ibarra+Real+Nova:wght@400;615&family=Montserrat&family=Old+Standard+TT&family=Raleway&display=swap");

body {
  font-family: "Andada Pro", serif;
}
.image {
  height: 250px;
}
.cardSize {
  width: 20rem;
  float: left;
}
